body{
    background-image: url(img/71585339.jpg);
    background-size: cover;
    background-size: 90%;
    color: cornsilk;
}

h1{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 3rem;
}

#countdown{
    text-align: center;
    font-size: 2rem;
}
